<div class="btn-group my-2 my-md-0 mr-md-3">
<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    Авторизация</button>
<div class="offset-md-4" >
    <form class="dropdown-menu  col-sm-2 p-4" style="
          min-width: 15rem;
    "id="authForm" >
        <div class="form-group">
            <label for="login">Логин</label>
            <input type="text" class="form-control" id="login" name="login">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="button" class="btn btn-primary" id="auth">Sign in</button>
    </form>
</div>
</div>